@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Dancing Script', cursive;
}

.container__timer{
    height: 15rem;
    width: 15rem;
}
.fa-play, .fa-redo-alt{
    color: #e3f6f5;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem; 
}
.fa-play:hover, .fa-redo-alt:hover{
    color: #bae3e8;
    border: 2px solid #bae3e8;
    transition: .3s ease;
}

.show_message{
    display: block;
    padding: 1rem 0;
    border-radius: .5rem;
}
.settingsForm{
    display: none;
}
.settingsForm input[type="number"]{
    width: 50px;
    color: black;
    padding: 0 5px;
}
.settingsForm label{
    width: 200px;
}
.settingsForm--show{
    display: flex;
    width: 300px;
}